/* main structure */
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400i,600,600i');
html, body {
    height: 100%;
    color: #39424E; /*#414252;*/
}
div.sidebar {
    padding: 0;
    min-height: 100%;
}
div.body {
    /*border-left: 1px solid #eee;*/
    padding: 0;
    font-weight: 500;
    color: #4E4242;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 17px;
}
/* end main structure */

/* logo section */
div.logo-section {
    text-align: center;
    padding: 10px;
    border-bottom: 1px solid #eee;
    background-color: #fff;
}
div.profile-picture {
    background-image: url("../img/profile.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    margin: auto;
    height: 100px;
    width: 100px;
    border-radius: 100%;
}
div.logo-section h5 {
    font-weight: bold;
    margin: 0;
    padding: 0;
    color: #343a40;
}
small.profession {
    font-weight: bold;
    color: #343a40;
}
/* end logo section */

/* search box */
div.search-box {
    padding: 10px;
}
div.search-box a {
    background-color: #fff;
    background-image: none;
    border: 1px solid #ced4da;
    text-align: left;
    color: #868e96;
}
div.search-box a:hover {
    background-color: #fff;
    color: #868e96;
}
.invalid-search-input {
    border: 1px solid #ff62a6;
}
#search-result {
    list-style: none;
    padding: 0;
    margin: 0;
}
#search-result li {
    padding: 0;
    margin: 10px;
}
.search-not-found {
    color: #A0A0A0;
    text-align: center;
}
/* end search box */

/* left menu section */
.left-menu {
    background: linear-gradient(#f8f9fc, #fff);
}
.list-group-item {
    border: none !important;
    border-radius: 0 !important;
    border-bottom: 1px solid #efefef !important;
    background-color: transparent !important;
    color: #333;
}
.list-group-item:hover {
    background-color: #ebebeb !important;
    color: #333;
}
.list-group-item.active {
    background-color: #ebebeb !important;
    color: #333;
}
/* end left menu section */

/* copyright section */
div.copyright {
    margin-top: 10px;
    padding: 10px;
    color: #A0A0A0;
    text-align: center;
}
/* end copyright section */

/* post list section */
.post {
    /*padding: 10px;*/
    margin: 10px 0;
}
.post-no-top-margin {
    margin: 0 !important;
}
.post-border {
    border-bottom: 1px solid #e9ecef;
}
.badge-light time {
    color: #A0A0A0;
}
a.read-more, a {
    color: #ee758b;
    white-space: nowrap;
}
a.read-more:hover, a:hover {
    color: #c76073;
}
.pagination-box {
    padding: 10px;
}
.page-link, .page-link:hover {
    color: rgb(33, 37, 41);
}
/* end post list section */

/* post structure */
.post-title,
.post-title a {
    background-color: #f8f9fa;
    color: #414252;
    text-decoration: none;
    display: inline;
    font-weight: bold;
    font-family: 'Source Sans Pro', sans-serif;
}
.share-links {
    display: inline;
    margin-left: 5px;
}
.share-links .share-btn,
.src-links, .src-links:hover, .src-links:active,
.social-network-link, .social-network-link:hover, .social-network-link:active {
    color: #644462;
    padding: 0 10px;
    border-radius: 4px;
    background-color: #f8f9fa;
}
pre {
    border: 1px solid #e2e2e2;
    border-radius: 4px;
    display: block;
    padding: 10px;
}
.badge-tag {
    color: #fff;
    background-color: #93d4d7;
    font-size: 90%;
}
.badge-tag:hover {
    color: #fff !important;
}
/* end post structure */

/* page structure */
.page-top-header h4 {
    /*margin-left: 10px;*/
    font-size: 20px;
    background-color: #a07584;
    display: inline-block;
    border-radius: 0 0 4px 4px;
    padding: 5px 5px;
    color: #fff;
}
/* end page structure */

/* table classes */
.table.td-0 {
    width: 3%;
}
.table.td-1 {
    width: 10%;
}
.table.td-2 {
    width: 30%;
}
.table td {
    padding: 0 !important;
    word-break: break-all;
}
.table td {
    vertical-align: middle !important;
}
/* end table classes */

/* card classes */
.text-white a {
    color: #fff;
}
.card-extra-link {
    text-align: center;
    width: 151.5px;
    display: inline-block;
}
/* end card classes */

/* misc classes */
.center {
    text-align: center;
}
.big-h1 {
    font-size: 66px;
}
.contact-phone-icon {
    padding-left: 10px;
}
/* end misc classes */

/* tag page */
.color-link {
    color: #FFF;
    padding: 0 5px 2px 5px;
    text-decoration: none;
    white-space: nowrap;
}
.tag-title {
    color: #fff;
    background-color: #93d4d7;
}
.search-highlight,
.search-highlight a {
    background-color: #e96b56;
    color: #fff;
}
/* end tag page */

/* navbar */
.bg-violet {
    background-color: #644462;
}
.nav-link {
    color: #FFF !important;
}
.active {
    color: #fdece5 !important;
}
/* end navbar */

/* search */
#search_keyword, #search_keyword:focus {
    box-shadow: none !important;
    transition: none !important;
    border: none !important;
    outline: none !important;
}
/* end search */

/* profile */
#project-list {
    font-size: 15px;
}
#profile-picture {
    height: 245px;
}
.skills {
    list-style: none;
    margin: 0;
    padding: 0;
}
/* end profile */

/* misc */
.btn-pink {
    background-color: #ee758b;
    border-color: #ee758b;
}
.btn-pink:hover, .btn-pink:active {
    background-color: #644462 !important;
    border-color: #644462;
}
/* end misc */

/* form process */
#form-process {
    display: none;
    background-color: #A0A0A0;
    opacity: 0.5;
    width: 96%;
    height: 96%;
    z-index: 1;
    color: #FFF;
    padding-top: 150px;
}
#submit-result {
    display: none;
}
/* end form process*/
