@import url('https://fonts.googleapis.com/css?family=Roboto:400,500|Roboto+Condensed:400,700');
body {
    width: 80%;
    margin: auto;
    padding: 0;
    font: 14px 'Roboto', sans-serif;
}
strong {
  font: 14px 'Roboto', sans-serif;
  font-weight: 500;
}
.container {
    border: 1px solid #EFEFEF;
    border-top: none;
}
.screenshot {
    border-radius: 5px;
    box-shadow: 2px 5px 47px #333;
    margin: 10px;
}
.center {
    text-align: center;
    width: 77%;
    margin: auto;
}
.tiny-navbar {
    font: 16px 'Roboto Condensed', sans-serif;
    background-color: #607d8b;
    display: block;
    height: 35px;
    font-weight: 400;
}
.tiny-navbar ul {
    margin: 0;
    padding: 0;
}
.tiny-navbar ul li {
    float: left;
    list-style: none;
    padding: 6px;
    margin-right: 5px;
}
.tiny-navbar ul li a {
    color: #FFF;
    text-decoration: none;
}
.post {
    border-bottom: 1px solid #EFEFEF;
    padding: 10px;
    margin-bottom: 10px;
}
.post .post-title {
    font: 15px 'Roboto Condensed', sans-serif;
    font-weight: 700;
}
.post .post-title a {
    color: #3e3e3e;
    text-decoration: none;
}
.post .post-body {
    color: #333;
}
.post .read-more {
    color: #FFF;
    background-color: #F44336;
    padding: 0 5px 0 5px;
    text-decoration: none;
}
div.highlighter-rouge,
code.highlighter-rouge {
    border: 1px solid #E5E5E5;
    font-size: small;
    box-shadow: 0 0 4px #E5E5E5;
    background-color: #E5E5E5;
    color: #333;
}
div.highlighter-rouge {
    padding-left: 10px;
    padding-right: 10px;
}
.keywords .badge {
    padding: 3px;
    background-color: #E5E5E5;
    color: #607d8b;
}
footer {
    padding: 5px;
    margin: 10px;
    font-size: 12px;
    font: 15px 'Roboto Condensed', sans-serif;
    color: #A0A0A0;
}
time {
    font-size: small;
    font-style: italic;
    color: #333;
    padding: 3px;
    background-color: #E5E5E5;
}
.contact-table {
  margin: auto;
}
.contact-td-icon ,
.contact-tr-icon td {
  background-color: #E5E5E5;
  color: #607d8b;
  padding: 20px 40px;
  margin: 5px;
  font-size: 80px;
}
.contact-tr-icon td a {
  text-decoration: none;
  color: #607d8b;
}
.contact-tr-link td,
.contact-tr-link td a {
  text-align: center;
  text-decoration: none;
  color: #333;
  font: 15px 'Roboto Condensed', sans-serif;
  font-weight: 700;
}
ul.contact-info {
  margin: 0;
  padding: 0;
}
ul.contact-info li {
  margin: 20px;
}
.projects-table {
  width: 100%;
}
.projects-table .td-0 {
  width: 3%;
}
.projects-table .td-1 {
  width: 10%;
}
.projects-table .td-2 {
  width: 20%;
}
.projects-table th {
  text-align: left;
  padding: 5px;
  background: #E5E5E5;
  color: #607d8b;
  font-weight: 500;
}
.projects-table tr:nth-child(event) {
  background-color: #E5E5E5;
}
.projects-table tr:hover {
  background-color: #E5E5E5;
}
.projects-table tr td {
  padding: 5px;
}
.projects-table tr td a {
  text-decoration: none;
  color: #333;
}
.alert {
  padding: 10px;
  box-shadow: 0 0 4px #a59163;
  background-color: #a59163;
  color: #FFF;
  margin: 10px 0;
}
