body {
    margin: 0;
    padding: 0;
    font: 15px monospace;
}
.container {
    padding: 5px;
}
.screenshot {
    border-radius: 5px;
    box-shadow: 2px 5px 47px #333;
    margin: 10px;
}
.center {
    text-align: center;
    width: 77%;
    margin: auto;
}
.tiny-navbar {
    background-color: #333;
    display: block;
    height: 23px;
}
.tiny-navbar ul {
    margin: 0;
    padding: 0;
}
.tiny-navbar ul li {
    float: left;
    list-style: none;
    padding: 3px;
    margin-right: 5px;
}
.tiny-navbar ul li a {
    color: #FFF;
    text-decoration: none;
}
article strong a {
    color: #333;
    text-decoration: none;
}
hr{
    border: 1px solid #E4E4E4;
}
