---
layout: default
page_menu: Blog
---
<h3 class="section-title m-0">Blog Posts</h3>
<small class="text-muted">Sharing some experiences, knowledge, and hacks.</small>
<div class="mt-3">
    {% for post in site.posts %}
    {% if post.is_draft != true %}
    <div class="mb-3">
        <div>
            <div>
                <small class="text-dark">{{post.date | date: "%Y %b %m"}}</small>
                <h3>
                    <a href="{{post.url | prepend: site.baseurl}}" rel="bookmark"
                       title="Permanent link to {{post.title}}"
                       class="post-title">{{post.title}}</a>
                </h3>
                <div class="post-body">{{post.excerpt | strip_html}}</div>
                <div>
                    <a href="{{post.url | prepend: site.baseurl}}" class="btn btn-outline-secondary mt-2 mb-2">Read More
                        <i class="fas fa-angle-right ml-1"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    {% endfor %}
</div>