---
layout: default
page_menu: Blog
---
{% for post in site.posts %}
{% if post.is_draft != true %}
<div class="mb-3">
    <div>
        <div>
            <h4>
            <a href="{{post.url | prepend: site.baseurl}}" rel="bookmark" title="Permanent link to {{post.title}}"
               class="text-body post-title">{{post.title}}</a>
            </h4>
            <small>{{post.date | date: "%Y %b %m"}}</small>
            <div class="post-body">{{post.excerpt | strip_html}}</div>
        </div>
    </div>
</div>
{% endif %}
{% endfor %}
