.title{ font-family: 'Rochester', cursive; }
.right-border { border-right: 1px solid #E5E5E5; }
.activity-header{ color:#ED683F; font-family: 'Baloo Bhaina', cursive; font-size: 25px; }
.center div{ text-align: center; }
.contact-link{ color:#333; }
.contact-link:hover{ color:#ED683F; }
.menu-bar{ padding-top: 25px; }
.table td{ border:none !important; }
.capitalize { text-transform: capitalize; }
.footer { font-family: 'Sacramento', cursive; font-size: 27px;}
hr { border-top: 1px solid #e5e5e5 !important;}
.btn-xing { color: #ffffff; background-color: #B0D400; border-color: transparent; }
.btn-linkedin { color: #ffffff; background-color: #1F88BE; border-color: transparent; }
.profile-img { width:100%; }
.center { text-align:center; }
