---
layout: default
page_menu: Home
---
<div class="mt-3 mb-3">
    {% include header.html %}
</div>
<h3 class="mb-3">Active Open Source Projects:</h3>
{% for project in site.projects %}
{% if project.visibility %}
<div class="card bg-light mb-3 d-inline-block">
    <div class="card-body">
        <h1 class="text-center"><i class="{{project.icon}}"></i></h1>
        <h5 class="card-title">{{project.title}}</h5>
        <p class="card-text">{{project.content}}</p>
        <div class="progress">
            <div class="progress-bar {{project.progress_color}}" role="progressbar"
                 style="width: {{project.progress_percentage}}%;" aria-valuenow="{{project.progress_percentage}}"
                 aria-valuemin="0" aria-valuemax="100">{{project.progress_percentage}}%
            </div>
        </div>
    </div>
    <div class="card-footer">
        <!-- source of datetime command: https://stackoverflow.com/a/12466337/2338672 -->
        <small class="text-muted">Last updated {{site.time | date: "%c"}}</small>
    </div>
</div>
{% endif %}
{% endfor %}
