---
layout: default
title: Post Tags - Search
keywords: ["search", "tags"]
permalink: /tags/
extra_js: ["jquery.min.js", "search.js"]
---
{% capture site_tags %}{% for tag in site.tags %}{{tag|first}}{% unless forloop.last %},{% endunless %}{% endfor %}{% endcapture %}

{% assign sortedTags=site_tags | split:',' | sort %}

<div class="search-box">
    <label>Search keyword:</label><br>
    <input type="text" id="search-keyword" placeholder="Keyword">
</div>

<div class="tags">
    {% for tag in sortedTags %}
    <div class="tag-item" id="{{tag}}">
      <p>
        <label class="color-link tag-title">
          {{tag}} ({{site.tags[tag].size}})
        </label>
      </p>
      <ul>
        {% for post in site.tags[tag] %}
        <li>
          <strong class="post-title">
            <a href="{{post.url | prepend: site.baseurl}}" rel="bookmark" title="Permanent link to {{post.title}}">
                {{post.title}}
            </a>
            <time datetime="{{post.date}}">{{post.date | date: "%a, %d %b %Y"}}</time>
          </strong>
        </li>
        {% endfor %}
      </ul>
    </div>
    {% endfor %}
</div>
