<!doctype html>
<html>
    <head>
        <title>{%block title%}{% end %}</title>
        <link rel="stylesheet" href="{{ static_url('css/bootstrap.min.css') }}">
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <ul class="navbar-nav collpase navbar-collapse">
                <a href="#" class="navbar-brand">Morteza N.Alamdari</a>
                {% module page_menus() %}
                <li class="navbar-item">
                    <a class="nav-link" href="#">Posts</a>
                </li>
            </ul>
            <ul class="navbar-nav">
                <li class="navbar-item">
                    <a class="nav-link" href="#">Contact</a>
                </li>
                <li class="navbar-item">
                    <a class="nav-link" href="#">About</a>
                </li>
                <li class="navbar-item">
                    <a class="nav-link" href="#">Login</a>
                </li>
            </ul>
        </nav>
        <div class="container">
            {% block body %}{% end %}
        </div>
    </body>
</html>