<a title="Home" href="{{site.baseurl}}/">Home</a>
<a title="Resume" href="https://github.com/mortymacs/resume/releases/download/latest/resume.pdf" target="_blank">Resume</a>
<a title="Github" href="https://github.com/mortymacs" target="_blank">Github</a>
<a title="LinkedIn" href="https://www.linkedin.com/in/morteza-nourelahi-alamdari/" target="_blank">LinkedIn</a>
<a title="Twitter" href="https://twitter.com/mortymacs" target="_blank">Twitter</a>
<a title="Email" href="mailto:m@0t1.me" target="_blank">m@0t1.me</a>