<div class="logo-section">
    <div class="profile-picture"></div>
    <h5>Morteza Nourelahi Alamdari</h5>
    <small class="profession">Senior Software Developer</small>
</div>

<div class="left-menu">
    <div class="search-box">
        <div class="input-group">
            <input type="text" id="search_keyword" class="form-control" placeholder="Search">
            <span class="input-group-btn">
                <button class="btn btn-secondary" type="button" id="search-btn" title="Go search!" data-toggle="modal"><i class="fa fa-search"></i></button>
            </span>
        </div>
    </div>

    <ul class="list-group">
        <a href="{{site.baseurl}}/" title="Home" class="list-group-item">Home</a>
        <a href="{{site.baseurl}}/" title="Articles" class="list-group-item{% if page.page_menu == 'Articles' %} active{% endif%}">Articles</a>
        <a href="{{site.baseurl}}/projects/" title="Projects" class="list-group-item{% if page.page_menu == 'Projects' %} active{% endif%}">Projects</a>
        <!-- <a href="{{site.baseurl}}/resume/" title="Resume" class="list-group-item{% if page.page_menu == 'Resume' %} active{% endif%}">Resume</a> -->
        <a href="{{site.baseurl}}/tags/" title="Tags" class="list-group-item{% if page.page_menu == 'Tags' %} active{% endif%}">Tags</a>
        <a href="{{site.baseurl}}/about/" title="About" class="list-group-item{% if page.page_menu == 'About' %} active{% endif%}">About</a>
        <a href="{{site.baseurl}}/contact/" title="Contact" class="list-group-item {% if page.page_menu == 'Contact' %}active{% endif%}">Contact</a>
        <a href="{{site.baseurl}}/feed.xml" title="RSS" target="_blank" class="list-group-item"><i class="fa fa-rss"></i> RSS</a>
    </ul>
</div>

<div class="copyright">
    All rights reserved &copy;
</div>
