<nav class="navbar navbar-expand-lg navbar-dark bg-violet">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item pr-2"><a href="{{site.baseurl}}/" title="Home" class="nav-link">Home</a></li>
        <li class="nav-item pr-2"><a href="{{site.baseurl}}/projects/" title="Projects" class="nav-link{% if page.page_menu == 'Projects' %} active{% endif%}">Projects</a></li>
        <li class="nav-item pr-2"><a href="{{site.baseurl}}/" title="Articles" class="nav-link{% if page.page_menu == 'Articles' %} active{% endif%}">Articles</a></li>
        <li class="nav-item pr-2"><a href="{{site.baseurl}}/about/" title="About" class="nav-link{% if page.page_menu == 'About' %} active{% endif%}">About</a></li>
        <li class="nav-item"><a href="{{site.baseurl}}/contact/" title="Contact" class="nav-link{% if page.page_menu == 'Contact' %} active{% endif%}">Contact</a></li>
    </ul>

    <ul class="navbar-nav ml-auto">
        <div class="input-group">
            <input type="text" id="search_keyword" class="form-control" placeholder="Search">
            <span class="input-group-append">
                <button class="btn btn-light" type="button" id="search-btn" title="Go search!" data-toggle="modal">
                    <i class="fa fa-search"></i>
                </button>
            </span>
        </div>
        <!-- <li class="nav-item"><a href="request_project.html" class="nav-link nav-link-hot">Request Project</a></li> -->
    </ul>
</nav>