@font-face {
    font-family: "PlayfairDisplay-Bold";
    src: url("../webfonts/PlayfairDisplay-Bold.ttf");
}

@font-face {
    font-family: "PlayfairDisplay-Medium";
    src: url("../webfonts/PlayfairDisplay-Medium.ttf");
}

@font-face {
    font-family: "PTSans-Regular";
    src: url("../webfonts/PTSans-Regular.ttf");
}

body,
.post-body {
    font-family: "PTSans-Regular", serif;
}

.highlighter-rouge {
    border: 1px solid #A0A0A0;
    border-radius: 4px;
    padding: 5px;
}

.section-title,
.project-title,
.intro {
    font-family: "PlayfairDisplay-Bold", serif;
}

.post-title {
    font-family: "PlayfairDisplay-Medium", serif;
}

.post-title,
.section-title {
    text-decoration: none;
    color: #000;
}