<nav class="navbar navbar-expand-lg navbar-green">
  <ul class="navbar-nav me-auto">
    <li class="nav-item">
      <a class="nav-link fw-bold" title="home page" href="{{ .Site.BaseURL }}">HOME</a>
    </li>
    <li class="nav-item">
      <a class="nav-link fw-bold" title="resume" href="https://github.com/mortymacs/resume/releases/download/latest/resume.pdf" target="_blank">RESUME</a>
    </li>
    <li class="nav-item">
      <a class="nav-link fw-bold" title="contact" href="mailto:m@0t1.me">CONTACT</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" title="github" href="https://github.com/mortymacs" target="_blank"><i class="fab fa-github"></i></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" title="pypi" href="https://pypi.org/user/mortymacs/" target="_blank"><i class="fab fa-python"></i></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" title="twitter" href="https://twitter.com/mortymacs" target="_blank"><i class="fab fa-twitter"></i></a>
    </li>
  </ul>
</nav>
<div class="top-banner">
  <div class="container">
    <div class="text-center site-title pt-5">ZeroToOne</div>
  </div>
</div>
