<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{% if page.title %}{{page.title}}{% else %}{{site.title}}{% endif %}</title>
    <meta name="author" content="{{site.author}}">
    <meta name="description" content="{% if page.description %}{{page.description}}{% else %}{{site.description}}{% endif %}">
    <meta name="keywords" content="{% if page.keywords %}{{page.keywords|join:','}}{% else %}{{site.keywords|join:','}}{% endif %}">
    <link rel="canonical" href="{{site.baseurl}}{{page.url}}">
    <link rel="stylesheet" href="{{site.baseurl}}/inc/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="{{site.baseurl}}/inc/css/main.css">
  </head>
  <body>
    <div class="container">
<!--      <header>-->
	{% include header.html %}
<!--      </header>-->

      <div class="body">
	{{content}}
      </div>

      <footer>
	{% include footer.html %}
      </footer>
    </div>
  </body>
</html>
