<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>{% if page.title %}{{site.title}} | {{page.title}}{% else %}{{site.title}}{% endif %}</title>

    <!-- seo -->
    <meta name="author" content="{{site.author}}">
    {% if page.description %}<meta name="description" content="{{page.description}}">
    {% elsif page.excerpt %}<meta name="description" content="{{page.excerpt | strip_html | strip_newlines | truncate:150}}">
    {% else %}<meta name="description" content="{{site.description}}">{% endif %}
    <meta name="keywords" content="{% if page.keywords %}{{page.keywords|join:','}}{% else %}{{site.keywords|join:','}}{% endif %}">
    <!-- end seo -->

    <link rel="canonical" href="{{site.baseurl}}{{page.url}}">

    <!-- css -->
    <link rel="stylesheet" href="{{site.baseurl}}/static/css/extra.css">
    <!-- end css -->

    <!-- open graph -->
    <meta property="org:site_name" content="{{site.author}}"/>
    <meta property="org:url" content="{{site.url}}"/>
    <meta property="org:type" content="website"/>
    <meta property="org:title" content="{% if page.title %}{{page.title}}{% else %}{{site.title}}{% endif %}"/>
    {% if page.description %}<meta property="org:description" content="{{page.description}}"/>
    {% elsif page.excerpt %}<meta property="org:description" content="{{page.excerpt | strip_html | strip_newlines | truncate:150}}"/>
    {% else %}<meta name="description" content="{{site.description}}">{% endif %}
    <meta property="org:img" content="{{site.baseurl}}{% if page.image %}{{page.image}}{% else %}/static/images/me.jpg{% endif %}"/>
    <!-- end open graph -->

    <!-- twitter -->
    <meta name="twitter:card" content="summary"/>
    <meta name="twitter:site" content="@{{site.twitter_username}}"/>
    <!-- end twitter -->
  </head>
  <body>
    <div class="top-color"></div>
    <div class="mb-10 p-10">
	  {% include header.html %}
      <hr>
      {{content}}
      <hr>
      {% include footer.html %}
    </div>
  </body>
</html>
