---
layout: default
enable: true
---
<article class="post">
  <label class="post-title">
    <a href="{{page.url | prepend: site.baseurl}}" rel="bookmark" title="Permanent link to {{page.title}}">
      {{page.title}}
    </a>
    <span class="badge badge-light"><time datetime="{{page.date}}">{{page.date | date: "%a, %d %b %Y"}}</time></span>
  </label>

  <div class="share-links">
    <a href="https://twitter.com/intent/tweet?text={{page.title}}&url={{site.url}}{{page.url | prepend: site.baseurl}}&via={{site.twitter_username}}&related={{site.twitter_username}}" rel="nofollow" target="_blank" title="Share on Twitter" class="share-btn"><i class="fa fa-twitter"></i></a>
    <a href="https://plus.google.com/share?url={{site.url}}{{page.url | prepend: site.baseurl}}" rel="nofollow" target="_blank" title="Share on Google+" class="share-btn"><i class="fa fa-google-plus"></i></a>
  </div>

  <div class="post-body">
    {{content}}
  </div>
  <div>
    <div class="keywords">Tags:
      {% for tag in page.tags %}
      <a href="{{site.baseurl}}/tags/#{{tag}}" title="Pages taged {{tag}}" rel="tag" class="badge badge-tag">{{tag}}</a>
      {% endfor %}
    </div>
  </div>
</article>
